<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
            <div class="jumbotron">
                <h1 class="display-4">Let's get started!</h1>
                <p class="lead">Fill out the information below so we can learn a little more about you.</p>
            </div>
        </div>
    </div>
</div>
<div class="container pb-5" ng-controller="LeadController">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Complete the form below.</h5>
                    <p class="card-text">Fill out each required field within the form below.</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <form ng-submit="submitForm()" name="leadForm">
                                <div class="form-group">
                                    <label for="first_name">What is your first name?</label>
                                    <input type="text" class="form-control"
                                           id="first_name"
                                           name="first_name"
                                           ng-class="{'is-valid' : leadForm.first_name.$touched && leadForm.first_name.$valid, 'is-invalid' : leadForm.first_name.$touched && leadForm.first_name.$invalid}"
                                           ng-disabled="leadForm.loading"
                                           ng-model="leadForm.firstName" required>
                                </div>
                                <div class="form-group">
                                    <label for="last_name">What is your last name?</label>
                                    <input type="text" class="form-control"
                                           id="last_name"
                                           name="last_name"
                                           ng-class="{'is-valid' : leadForm.last_name.$touched && leadForm.last_name.$valid, 'is-invalid' : leadForm.last_name.$touched && leadForm.last_name.$invalid}"
                                           ng-disabled="leadForm.loading"
                                           ng-model="leadForm.lastName" required>
                                </div>
                                <div class="form-group">
                                    <label for="insurance_type">What type of insurance are you looking for?</label>
                                    <select class="form-control" id="insurance_type"
                                            name="insurance_type"
                                            ng-class="{'is-valid' : leadForm.insurance_type.$touched && leadForm.insurance_type.$valid, 'is-invalid' : leadForm.insurance_type.$touched && leadForm.insurance_type.$invalid}"
                                            ng-disabled="leadForm.loading"
                                            ng-model="leadForm.type"  required>
                                        <option value="">-- Select a type --</option>
                                        <% for(var i=0; i < insuranceTypes.length; i++) { %>
                                            <option value="<%= insuranceTypes[i].key %>"><%= insuranceTypes[i].value %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="zipCode">What is your zip code?</label>
                                    <input type="text" class="form-control" id="zip_code"
                                           name="zip_code"
                                           ng-class="{'is-valid' : leadForm.zip_code.$touched && leadForm.zip_code.$valid, 'is-invalid' : leadForm.zip_code.$touched && leadForm.zip_code.$invalid}"
                                           ng-disabled="leadForm.loading"
                                           ng-pattern="/(^\d{5}(?:[\s]?[-\s][\s]?\d{4})?$)/"
                                           ng-model="leadForm.zipCode" required>
                                    <div class="invalid-feedback" ng-show="leadForm.zip_code.$error.pattern">Please enter a valid zip code.</div>
                                </div>
                                <button type="submit" class="btn btn-primary" ng-disabled="leadForm.$invalid || leadForm.loading">Submit Information</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>